<?xml version="1.0" encoding="UTF-8"?>
<config>
     <modules>
          <Market_Knowledgebase>
               <version>0.0.1</version>
          </Market_Knowledgebase>
     </modules>
     <global>
          <models>
               <knowledgebase>
                    <class>Market_Knowledgebase_Models</class>
                    <resourceModel>knowledgebase_resource</resourceModel>
               </knowledgebase>
               <knowledgebase_resource>
                    <class>Market_Knowledgebase_Models_Resource</class>
                    <entities>
                         <category>
                              <table>kb_documents_category</table>
                         </category>
                         <meta>
                              <table>kb_documents_meta</table>
                         </meta>
                         <content>
                              <table>kb_documents_content</table>
                         </content>
                    </entities>
               </knowledgebase_resource>
          </models>
          <blocks>
               <knowledgebase>
                    <class>Market_Knowledgebase_Blocks</class>
               </knowledgebase>
          </blocks>
     </global>
     <frontend>
          <routes>
               <knowledgebase>
                    <use>standard</use>
                    <args>
                         <module>Market_Knowledgebase</module>
                         <frontName>knowledgebase</frontName>
                    </args>
               </knowledgebase>
          </routes>
          <layout>
               <updates>
                    <file></file>
               </updates>
          </layout>
     </frontend>
</config>
