<?xml version="1.0" encoding="UTF-8"?>
<config>
     <modules>
          <Market_Core>
               <version>0.0.1</version>
          </Market_Core>
     </modules>
     <global>
          <models>
               <core>
                    <class>Market_Core_Models</class>
                    <resourceModel>core_resource</resourceModel>
               </core>
               <core_resource>
                    <class>Market_Core_Models_Resource</class>
                    <entities>
                         <users>
                              <table>core_users</table>
                         </users>
                         <resource>
                              <table>core_resource</table>
                         </resource>
                         <config>
                              <table>core_config</table>
                         </config>
                         <regions>
                              <table>core_regions</table>
                         </regions>
                         <countries>
                              <table>core_countries</table>
                         </countries>
                    </entities>
               </core_resource>
          </models>
          <blocks>
               <core>
                    <class>Market_Core_Blocks</class>
               </core>
          </blocks>
     </global>
     <default>
          <design>
              <package>
                  <area>frontend</area>
                  <default_theme>default</default_theme>
                  <theme>default</theme>
              </package>
         </design>
    </default>
</config>
